@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-gray-100 text-gray-700;
  }
}

@layer components {
  .nav-link {
    @apply w-full flex items-center text-left space-x-3 p-3 text-gray-200 hover:text-gray-300 rounded-lg mb-2;
  }
  .nav-link > svg {
    @apply w-5 h-5 flex-shrink-0;
  }
  .nav-link.active {
    @apply bg-gray-700;
  }
  .sidebar {
    @apply transform w-0 bg-gray-800 origin-left duration-300 h-screen fixed top-0 left-0 z-40 pt-20 overflow-x-hidden;
  }
  .dropdown-items {
    @apply transform duration-500 max-h-0 overflow-y-hidden ml-11 -mt-1 mb-1 text-[15px] leading-loose text-gray-400;
  }
  .dropdown-items > li {
    @apply pb-1;
  }
  .breadcrumb-list > ul > li {
    @apply text-gray-500;
  }
  .breadcrumb-item.active {
    @apply text-gray-700;
  }
  .breadcrumb-item::before {
    content: '/';
    display: inline-block;
    padding-right: 10px;
  }
  .table-responsive {
    @apply border-collapse table-auto w-full;
  }
  .table-responsive > thead > tr > th {
    @apply text-left bg-gray-50 sticky top-0 border-b border-gray-200 px-6 py-4 text-gray-600 font-bold tracking-wider uppercase text-xs;
  }
  .table-responsive > tbody > tr > td {
    @apply border-t text-gray-700 px-6 py-3;
  }
  .btn {
    @apply py-2 px-5 text-gray-600 font-bold transition-colors duration-150 bg-white border border-gray-400 rounded;
  }
}
